.container-principal-managers{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 10px;
    width: 100%;
    min-width: fit-content;
}

.container-principal-managers h1{
    font-size: 35px;
    height: auto;
    margin: 10px;
    text-align: center;
    color: var(--second-color);
}
