.container-principal-bookings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container-principal-bookings h1 {
    font-size: 5vh;
    margin: 10px;
    text-align: center;
    color: var(--second-color);
  }
  

