.react-calendar { 
    width: 400px;
    padding: 6px 1px 2px 1px;
    background-color: var(--second-color);
    color: black;
    border-radius: 2px;
    line-height: 1.125em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.react-calendar__navigation button {
    min-width: 30px;
    height: 26px;
    color: var(--principal-color);
    background-color: var(--second-color);
    padding: 4px;
    font-size: 15px;
    margin: 0px 4px 0px 4px;
    border-radius: 2px;
    border: 1px solid var(--principal-color);
}
.react-calendar__navigation button:enabled:hover {
    background-color: var(--color-selected);
    cursor: pointer;
}
.react-calendar__navigation button[disabled] {
    background-color: var(--second-color);
}

.react-calendar__month-view__days__day{
    border-radius: 2px;
    border: 1px solid var(--second-color);
    color: var(--second-color);
    height: 20px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    color: var(--color-selected);
    border-color: var(--color-selected);
    background-color: var(--principal-color);
    cursor: pointer;
}
.react-calendar__tile--active {
    background: var(--color-selected);
    border-radius: 2px;
    font-weight: bold;
    color: var(--principal-color);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--color-selected);
    color: var(--principal-color);
    cursor: pointer;
}
   
.react-calendar__month-view__days__day--neighboringMonth {
    background-color: var(--color-boton-add);
    border: 1px solid var(--second-color);
}

.react-calendar__month-view__weekdays__weekday{
    padding: 5px;
    height: 26px;
    color:var(--principal-color);
    display: flex;
    align-items: center;
    justify-content: center;
}