.contenedor-principal-home {
    height: calc(100vh - var(--height-header));
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/laboratorio_gris.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-size: 100% 100%;
}

.contenedor-principal-home h1, 
.contenedor-principal-home p,
.contenedor-principal-home .link-reserva-home {
    background-color: var(--second-color);
    opacity: 90%;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    color: var(--principal-color);
    justify-content: center;
    text-align: center;
}

.contenedor-principal-home h1{
    font-size: 65px;
    text-align: center;
}

.contenedor-principal-home p,
.contenedor-principal-home .link-reserva-home {
    font-size: 30px;
}

.link-reserva-home {
    margin-top: 10px;
    color: var(--second-color);;
}
.link-reserva-home:hover {
    color: var(--principal-color);
    border-color: var(--principal-color);
    background-color: var(--color-selected);
}