footer {
    height: 100px;
    width: 100%;
    margin-top: auto;
    padding: 10px;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--principal-color);
}

  footer div {
    height: 100%;
    flex-grow: 1;
    display: grid;
    place-items: center;
  }
  footer img {
    height: 80px;
    width: auto;
  }
  .datos-footer p{
    padding: 4px 2px 4px 2px;
    font-size: 12px;
  }
  .footer-images {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .footer-images img{
    padding: 2px;
  }