.container-form{
    height: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background-element); 
    box-shadow: 0 0 15px var(--color-background-element-shadow);
    padding: 15px;
    margin: 5px;
    border-radius: 2px;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: fit-content;
}

.form-container label{
    font-size: max(2.5vh,22px);
    padding: 2px;
}

.form-container select,
.form-container input{
    font-size: max(1.5vh,17px);
}

.form-container .form-fit-content{
    padding: 1px;
    width: fit-content;
    max-width: 200px;
    border-radius: 2px;
    border: none;
    background-color: var(--principal-color);
}

.form-container select,
.form-container input#numberInput{
    padding: 1px;
    width: 45px;
    border-radius: 2px;
    border: none;
    background-color: var(--principal-color);
}

.form-container .form-fit-content:hover,
.form-container select:hover,
.form-container input#numberInput:hover{
    cursor: pointer;
}

.form-block-horizontal{
    min-width: 100%;
    height: auto;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;

}
@media (max-width: 900px) {
    .form-block-horizontal {
      flex-wrap: wrap; /* Salto de línea cuando la pantalla es menor a 900px */
    }
  }

.form-container-submit{
    display: grid;
    place-content: center;
    padding-top: 15px;
    width: 100%;
    max-width: 400px;
}

.form-container-submit #fm-submit-form{
    padding: 4px;
    font-size: large;
    border-radius: 2px;  
    background-color: var(--principal-color);
    border: 1px solid var(--second-color);
}

.form-container-submit #fm-submit-form:hover{
    background-color: var(--color-selected);
    color: white;
    cursor: pointer;
}