header {
  height: var(--height-header);
  min-width: 100%;
  padding: 10px;
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  color: var(--principal-color);
}

#container-logo-title{
color: var(--principal-color);
height: 100%;
padding: 5px;
margin-right: 10px;
display: flex;
align-items: center;
justify-content: center;
}
#container-logo-title h1 {
font-weight: 400;
font-size:30px;
padding-left: 5px;
text-align: center;
}

header img {
width: 60px;
height: 60px;
background-color: var(--principal-color);
border-radius: 100%;
}


.header-routes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-routes-list {
height: 100%;
width: auto;
display: flex;
}

.link-menu {
color: var(--principal-color);
font-size: 15px;
padding: 0px 10px;
border-left: 1px solid var(--principal-color);
}

.link-menu.active {
background-color: var(--color-boton-add);
}

.link-menu:hover {
color: var(--principal-color);
border-color: var(--principal-color);
background-color: var(--color-selected);
}

.header-login-register{
margin-right: 10px;
display: flex;
}

.link-login{
background-color: var(--principal-color);
border-radius: 2px;
border: 1px solid var(--principal-color);
font-size: 15px;
padding: 0px 10px;
color: black;
margin-right: 10px;
}

.link-register {
color: var(--principal-color);
font-size: 15px;
padding: 0px 10px;
border: 1px solid var(--principal-color);
border-radius: 2px;
background-color: var(--second-color);
}

.link-login:hover,
.link-register:hover {
color: var(--principal-color);
border-color: var(--principal-color);
background-color: var(--color-selected);
}

.icon-burger {
  display: none;
}

.welcome-username{
  color: var(--principal-color);
  padding-right: 5px;
  max-width: 150px;
  width: fit-content;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 900px){
  .header-routes {
      display: none;
  }
  header {
      justify-content: space-between;
      overflow: hidden;
  }
  .icon-burger {
      color: var(--principal-color);
      display: block;
  }
  .icon-burger:hover{
      cursor:pointer;
      background-color: var(--color-selected);
  }
  .show{
    position: absolute;
    padding: 0 0 1rem 1rem;
    display:flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--second-color);
    margin-right: auto;
    right: 0;
    top: var(--height-header);;
  }
  .show .header-routes-list,
  .show .header-login-register{
      flex-direction: column;
      justify-content: left;
  }

  .link-menu{
    border:none;
    background-color: var(--second-color);
    color: var(--principal-color);
  }
}
