.container-table {
    height: fit-content;
    width: fit-content;
    max-height: 300px;
    overflow: auto;
    margin: 2rem;
}
.container-table::-webkit-scrollbar{
    height: 7px;
    width: 7px;
}
  
.container-table::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 2px;
}
  
.container-table::-webkit-scrollbar-thumb {
    background-color: var(--color-disabled); 
    border-radius: 2px;
}
  
.container-table::-webkit-scrollbar-thumb:hover {
    background-color: #555;

}

table.table-data {
    border-collapse: separate;
    border-spacing: 0 0;
    width: 100%;
}

table.table-data tr {
    margin-top: 3px;
}

table.table-data thead {
    position: sticky;
    top: 0;
}

table.table-data  tr{ 
    background-color: var(--color-background-element);
    color: white; 
}

table.table-data  th,
table.table-data  td{
    text-align: center;
    padding: 10px;
}

col.column-auto{
    width: auto;
}

col.column-55{
    width: 55px;
}

col.column-90{
    width: 90px;
}

col.column-100{
    width: 100px;
}

#icon-trash{
    width: 20px;
    height: 23px;
    color:white ;
    cursor: pointer;
}

#icon-trash:hover{
    background-color: var(--color-selected);
}

table.table-data  td.column-auto-element{
    text-align: left;
    padding-left: 10px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-error {
    background-color: var(--color-error);
}